

@media (min-width: 1024px) {
  /* CSS rules for screens 1024px wide and larger */

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.button {
    width: 13em;
}

.logo {
    width: fit-content;
}

ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-large);
}

li {
    flex: 1 0 40%;
}

section.section.hero.datasheet::before {
    background-image: url(assets/contractors/construction_worker_hardhat_faceless_highbeam_wood.jpg);
    background-blend-mode: darken;
    background-color: var(--overlay-color);
}

    .card {
    display: flex;
    flex-direction: row;
}

    
}
