

@media (min-width: 1024px) {
  /* CSS rules for screens 1024px wide and larger */

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.button {
    width: 13em;
}

.logo {
    width: fit-content;
}

ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-large);
}

li {
    flex: 1 0 40%;
}