/* Media Queries */
@media only screen and (max-width: 1023px) {
  /* Styles for screens under 1024px */
  .hero .content {
    display: flex;
    max-width: none;
    flex-direction: column;
    width: 100%;
    max-width: none;
    /* min-height: 66vh; */
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  .header .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-top: 10em;
    gap: 5em;
    min-height: 100vh;
  }

  .sustainable .content::before {
    display: none;
  }

  article {
    flex-direction: column;
    gap: var(--gap-medium);
  }

  .text-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-small);
    padding: 0;
    margin: 0 auto;
    max-width: 50%;
  }

  article {
    flex-direction: row;
    gap: var(--gap-medium);
  }

  li.card {
    flex: 1 1 40%;
    flex-direction: column;
    gap: var(--gap-medium);
  }

  .card {
    flex-direction: row;
    gap: var(--gap-medium);
    flex: 1 1 40%;
    align-items: flex-start;
  }

  nav {
    display: flex;
    align-items: center;
    padding: 0 0 5px;
    margin: 0;
    flex: 0;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 85vw;
    min-height: auto;
    padding-bottom: 5px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
    width: max-content;
    gap: var(--gap-large);
    margin-bottom: 3px;
    flex-wrap: wrap;
  }

.header .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
    gap: 5em;
    min-height: fit-content;
    margin: 0 auto;
    padding: var(--spacing-small) 0;
    width: 95%;
}

  .header::before {
    background: none;
    display: none;
  }

  .hero {
    position: relative;
    background: none;
    color: white;
    padding: 0;
    margin: 0;
    min-height: 90vh;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(assets/contractors/construction_worker_hardhat_faceless_highbeam_wood.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
  }

  a.nav-link {
    background-color: transparent;
    padding: var(--padding-btn);
    /* margin: var(--spacing-small) 0; */
    width: fit-content;
    text-align: center;
    margin: 0;
    padding: 0;
    gap: 0;
  }

.hero .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* gap: var(--gap-large); */
    /* height: 90vh; */
    height: 100%;
    /* background-color: #ffffff66; */
    color: black;
}

  .image-content.flip {
    order: 1;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }

  .card-image {
    max-width: 50%;
  }

  .card.flip .card-image {
    order: 1;
  }

.list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-large);
}

  .features .container {
    min-height: auto;
  }

  .max-width {
    max-width: 75%;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
    /* min-height: 70vh; */
    /* height: 100%; */
  }

  .hero-index {
    height: 95vh;
  }

  .card-text {
    padding: var(--spacing-small);
  }

  .card p {
    flex-grow: 1;
  }

  .sustainable .content::before {
    display: none;
  }

  .content.ready::before {
    display: none;
  }

  .header .logo {
  margin-bottom: 0em;
  margin: 0;
}

    section.section.hero.contractor {
    background: rgb(255 255 255 / 59%);
}

  .logo {
    background-color: unset;
}

  .header .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1440px;
}

  .logo {
    max-width: fit-content;
}

.ready {
  z-index: 10; /* Ensure button is clickable */
}

}

@media only screen and (min-width: 1024px) {
  /* Styles for screens over 1024px */
  .hero .content {
    display: flex;
    max-width: none;
    flex-direction: column;
    width: 100%;
    max-width: none;
    /* min-height: 66vh; */
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  .header .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-top: 10em;
    gap: 5em;
    min-height: 100vh;
  }

  .sustainable .content::before {
    display: none;
  }

  article {
    flex-direction: column;
    gap: var(--gap-medium);
  }

  .text-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-small);
    padding: 0;
    margin: 0 auto;
    max-width: 50%;
  }

  article {
    flex-direction: row;
    gap: var(--gap-medium);
  }

  li.card {
    flex: 1 1 40%;
    flex-direction: column;
    gap: var(--gap-medium);
  }

  .card {
    flex-direction: row;
    gap: var(--gap-medium);
    flex: 1 1 40%;
    align-items: flex-start;
  }

  nav {
    display: flex;
    align-items: center;
    padding: 0 0 5px;
    margin: 0;
    flex: 0;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 85vw;
    min-height: auto;
    padding-bottom: 5px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
    width: max-content;
    gap: var(--gap-large);
    margin-bottom: 3px;
    flex-wrap: wrap;
  }

.header .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
    gap: 5em;
    min-height: fit-content;
    margin: 0 auto;
    padding: var(--spacing-small) 0;
    width: 95%;
}

  .header::before {
    background: none;
    display: none;
  }

  .hero {
    position: relative;
    background: none;
    color: white;
    padding: 0;
    margin: 0;
    min-height: 90vh;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(assets/contractors/construction_worker_hardhat_faceless_highbeam_wood.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
  }

  a.nav-link {
    background-color: transparent;
    padding: var(--padding-btn);
    /* margin: var(--spacing-small) 0; */
    width: fit-content;
    text-align: center;
    margin: 0;
    padding: 0;
    gap: 0;
  }

.hero .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap-large);
    height: fit-content;
    padding: var(--padding-testimonial-border);
}

  .image-content.flip {
    order: 1;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }

  .card-image {
    max-width: 50%;
  }

  .card.flip .card-image {
    order: 1;
  }

.list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-large);
}

  .features .container {
    min-height: auto;
  }

  .max-width {
    max-width: 75%;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
    /* min-height: 70vh; */
  }

  .hero-index {
    height: 95vh;
  }

  .card-text {
    padding: var(--spacing-small);
  }

  .card p {
    flex-grow: 1;
  }

  .sustainable .content::before {
    display: none;
  }

  .content.ready::before {
    display: none;
  }

  .header .logo {
  margin-bottom: 0em;
  margin: 0;
}



  .logo {
    background-color: unset;
}

  .header .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1440px;
}

  .logo {
    max-width: fit-content;
}

.ready {
  z-index: 10; /* Ensure button is clickable */
}

}

@media only screen and (min-width: 1280px) {
  .wrapper {
    display: flex;
  }

  .hero .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
    margin: 0;
  }


ul.card-list {
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-large);
    align-items: flex-start;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-extra-large);
  }

  .hero .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap-large);
    margin: 0;
  }



}

@media only screen and (min-width: 1440px) {
  .hero .content {
    display: flex;
    justify-content: center;
    /* min-height: 88vh; */
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .list {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-large);
  }
  
ul.list {
    display: flex;
    flex-direction: row;
}
  .card {
    flex: 1;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  .testimonials .content {
    justify-content: center;
    gap: var(--gap-large);
    max-width: var(--max-width-testimonial-content);
  }

  .testimonials .border {
    flex: 1;
    max-width: none;
  }

  .section.index {
    /* min-height: 60vh; */
  }

  li.card {
    flex: 1 1 40%;
  }

.form {
    width: 66vw;
}

.btn:hover {
  cursor: pointer;
}

}

button.btn {
    width: fit-content;
    margin: 0;
}

a button.btn {
  padding: var(--padding-btn);
  display: inline-block;
  margin: 0 auto;
}


.versatile img {
    height: 33vh;
    width: 100%;
    animation: kenburns-zoom 20s infinite alternate;
    height: 33vh;
    width: 100%;
    object-fit: cover;
    display: block;
    width: 100vw;
}

.more {
    height: 100%;
    width: 10em;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
    border: 1px solid;
    padding: var(--padding-btn);
    width: fit-content;
    /* display: none; */
    padding: var(--padding-btn);
    width: fit-content;
    height: 3em;
    /* background: #000000b5; */
    width: fit-content;
}


.more.header {
    width: fit-content;
    border: none;
}

.nav {
    display: flex;
    flex-direction: row;
}