/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: var(--default-font);
    color: var(--primary-color);
    font-size: 1em;
    background-color: var(--secondary-color);
    padding: 0;
    margin: 0;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.form {
    width: 95vw;
}

.bg-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background-image: url(); */
  background-size: cover;
  background-position: center;
  background-color: rgb(0 0 0 / 50%);
  background-blend-mode: darken;
}

/* CSS Variables */
:root {
  --primary-color: black ; /* Light gray */
  --secondary-color: rgb(233, 233, 233);
  --primary-button-color: #016DC8;
  --transparent-button: transparent;
  --overlay-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  --default-font: sans-serif;
  --heading-font: 'Montserrat', sans-serif;
  --spacing-small: 0.714em;
  --spacing-medium: 1.429em;
  --spacing-large: 2.857em;
  --spacing-extra-large: 4.286em;
  --padding-section: 7.143em 0;
  --padding-article-mobile: 0 1%;
  --padding-article-desktop: 0 8%;
  --padding-header-mobile: 0 1%;
  --padding-header-desktop: 0 8%;
  --max-width-hr: 100%;
  --max-height-img-small: 4.286em;
  --max-height-img-medium: 7.143em;
  --padding-btn: 0.714em 0.714em;
  --padding-testimonial-border: 0.714em;
  --gap-small: 0.714em;
  --gap-medium: 1.429em;
  --gap-large: 2.857em;
  --gap-extra-large: 4.286em;
  --max-width-testimonial-content: 66%;
  --max-width-testimonial-item: 28.571em;
  --padding-article-default: 0 4%;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 1.8em;
}


p {
  text-align: center;
  line-height: 1.8;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    max-width: 100%;
}

section {
  padding: 5em 0;
  position: relative;
}


section#key-findings .content {
    color: black;
}

section#hero-datasheet {
    margin: 0;
    padding: 0;
}

section#introduction {
    background-color: var(--primary-color);
}


section#introduction .content {
    color: white;
}


section#hero-datasheet.bg-overlay::before {
    background-image: url(assets/contractors/construction_worker_hardhat_faceless_highbeam_wood.jpg);
    background-position: top;
    height: 100%;
}

section#introduction::before {
  background-image: url(assets/contractors/red_contruction_hat.jpg);
}

section#key-findings.features::before {
    background-image: url(assets/contractors/modular_home.jpg);
}

section.versatile::before {
  background-image: url(assets/contractors/frames.jpg);
}

section#timelines::before {
    background-image: url(assets/contractors/easy_assembly.avif);
}

section#quality-durability::before {
  background-image: url(assets/contractors/atlas-2.jpeg);
}

section#environmental-impact::before {
    background-image: url(assets/contractors/builder_carrying_steel_frame.jpg);
}

section#market-viability::before {
  background-image: url(assets/contractors/mid_rise_apartment_2.jpeg);
}

section#challenges::before {
    background-image: url(assets/contractors/hardhat_closeup_faceless.jpg);
}

section#recommendations::before {
  background-image: url(assets/contractors/wood_frame_construction.jpg);
}

section#conclusion.accelerate.bg-overlay::before {
    background-image: url(assets/contractors/hardhat_closeup_faceless.jpg);
    /* background-blend-mode: lighten; */
    /* background-color: rgb(255 255 255 / 50%); */
}


nav {display:flex;flex-direction: column;gap: var(--gap-medium);width: 100%;}

ul {
    display: flex;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    unicode-bidi: isolate;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap-extra-large);
}

li {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
}

img.eye {
    height: 20px;
    min-width: 40px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-btn);
    background-color: #016DC8;
    gap: var(--gap-small);
    width: 85%;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

.button.learn-more {
    background-color: var(--transparent-button);
    border: 1px solid;
}

img.icon {
  max-height: 75px;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-medium);
    color: var(--primary-color);
}

#hero-datasheet .content {
    color: white;
    min-height: 100vh;
    position: relative;
}

.content.testimonial {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

section.section.hero.contractor::before {
    background-image: url(assets/contractors/construction_worker_hardhat_faceless_highbeam_wood.jpg);
}

section.section.accelerate.bg-overlay::before {
    background-image: url(assets/contractors/hardhat_closeup_faceless.jpg);
    background-blend-mode: darken;
    background-color: var(--overlay-color);
}

.accelerate .content {
    color:white;
}

.logo {
    background-color: #ffffffbf;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
}

.logo img {
    max-width: 300px;
    padding: var(--padding-btn);
}

footer .logo {
    background-color: var(--secondary-color);
    width: 100vw;
    /* display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center; */
}

figure.border.testimonial {
    border: solid;
    padding: var(--padding-testimonial-border);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
}

section.section.hero.contractor::before {
    background-image: url(assets/contractors/construction_worker_hardhat_faceless_highbeam_wood.jpg);
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
    width: 100%;
    margin: 4em 0;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    gap: var(--gap-small);
}

span.red-background-white-text {
    color: var(--secondary-color);
    background-color: red;
}

.red-background {
  background-color: #FF0004;
}

section#introduction::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background-image: url(assets/contractors/red_contruction_hat.jpg); */
  background-size: cover;
  background-position: center;
  background-color: rgb(0 0 0 / 70%);
  background-blend-mode: darken;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

section.versatile::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(assets/contractors/frames.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgb(0 0 0 / 50%);
  background-blend-mode: darken;
}

section#market-viability::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(assets/contractors/affordable_home.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgb(0 0 0 / 50%);
  background-blend-mode: darken;
}

section#recommendations::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(assets/contractors/wood_frame_construction.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgb(0 0 0 / 50%);
  background-blend-mode: darken;
  display: none;
}

section#quality-durability::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(assets/contractors/atlas-2.jpeg);
  background-size: cover;
  background-position: center;
  background-color: rgb(0 0 0 / 50%);
  background-blend-mode: darken;
}

.contrast {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium); /* Using an existing variable for consistency */
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-start; /* Center items horizontally */
    margin-bottom: var(--spacing-medium); /* Add some space between contrast blocks */
    flex: 1 1 0;
}

.contrast h3,
.contrast p {
    text-align: center; /* Revert text alignment for h3 and p inside contrast */
}

footer {
    background: var(--primary-color);
}


iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
}

.flex-row-icon {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-small);
}

.section.border-top,
h2.border-top,
h3.border-top {
    border-top: 1px solid black;
    padding-top: 3em;
    width: 100%;
}

.versatile .content {
    color: white;
}

.versatile p {
    color: white;
}

#hero-datasheet h1 {
    margin-top: 1em;
}

#quality-durability .content,
#market-viability .content {
    color: white;
}