/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: var(--default-font);
    color: var(--primary-color);
    font-size: 1em;
    background-color: var(--secondary-color);
    padding: 0;
    margin: 0;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form {
    width: 95vw;
}

.bg-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background-image: url(); */
  background-size: cover;
  background-position: center;
  background-color: rgb(0 0 0 / 50%);
  background-blend-mode: darken;
}

/* CSS Variables */
:root {
  --primary-color: rgb(233, 233, 233); /* Light gray */
  --secondary-color: black;
  --primary-button-color: #016DC8;
  --transparent-button: transparent;
  --overlay-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  --default-font: sans-serif;
  --heading-font: 'Montserrat', sans-serif;
  --spacing-small: 0.714em;
  --spacing-medium: 1.429em;
  --spacing-large: 2.857em;
  --spacing-extra-large: 4.286em;
  --padding-section: 7.143em 0;
  --padding-article-mobile: 0 1%;
  --padding-article-desktop: 0 8%;
  --padding-header-mobile: 0 1%;
  --padding-header-desktop: 0 8%;
  --max-width-hr: 100%;
  --max-height-img-small: 4.286em;
  --max-height-img-medium: 7.143em;
  --padding-btn: 0.714em 0.714em;
  --padding-testimonial-border: 0.714em;
  --gap-small: 0.714em;
  --gap-medium: 1.429em;
  --gap-large: 2.857em;
  --gap-extra-large: 4.286em;
  --max-width-testimonial-content: 66%;
  --max-width-testimonial-item: 28.571em;
  --padding-article-default: 0 4%;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-align: center;
}

p {
  text-align: center;
  line-height: 1.8;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
    max-width: 100%;
}

section {
  padding: 5em 0;
  position: relative;
}

section.section.hero.contractor.bg-overlay {
    height: 100vh;
}


nav {display:flex;flex-direction: column;gap: var(--gap-medium);width: 100%;}

ul {
    display: flex;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    unicode-bidi: isolate;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap-extra-large);
}

li {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
}

img.eye {
    height: 20px;
    min-width: 40px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-btn);
    background-color: #016DC8;
    gap: var(--gap-small);
    width: 100%;
    align-items: center;
    align-content: center;
}

.button.learn-more {
    background-color: var(--transparent-button);
    border: 1px solid;
}

img.icon {
  max-height: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
}

.content.testimonial {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

section.section.hero.contractor::before {
    background-image: url(assets/contractors/construction_worker_hardhat_faceless_highbeam_wood.jpg);
}

section.section.accelerate.bg-overlay::before {
    background-image: url(assets/contractors/construction_worker_hardhat_faceless_highbeam_wood.jpg);
    background-blend-mode: darken;
    background-color: var(--overlay-color);
}

.accelerate .content {
    color:white;
}

.logo {
    background-color: #ffffffbf;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 300px;
    padding: var(--padding-btn);
}

footer .logo {
    /* background-color: #ffffffbf; */
    width: 100vw;
    /* display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center; */
}

figure.border.testimonial {
    border: solid;
    padding: var(--padding-testimonial-border);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
}
