/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* CSS Variables */
:root {
  --primary-color: rgb(233, 233, 233); /* Light gray */
  --secondary-color: black;
  --overlay-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
  --default-font: sans-serif;
  --heading-font: 'Montserrat', sans-serif;
  --spacing-small: 0.714em;
  --spacing-medium: 1.429em;
  --spacing-large: 2.857em;
  --spacing-extra-large: 4.286em;
  --padding-section: 7.143em 0;
  --padding-article-mobile: 0 1%;
  --padding-article-desktop: 0 8%;
  --padding-header-mobile: 0 1%;
  --padding-header-desktop: 0 8%;
  --max-width-hr: 100%;
  --max-height-img-small: 4.286em;
  --max-height-img-medium: 7.143em;
  --padding-btn: 0.714em 0.714em;
  --padding-testimonial-border: 0.714em;
  --min-height-align: 50vh;
  --gap-small: 0.714em;
  --gap-medium: 1.429em;
  --gap-large: 2.857em;
  --gap-extra-large: 4.286em;
  --min-height-hero-align: 93vh;
  --height-hero-align-desktop: 50vh;
  --max-width-testimonial-content: 66%;
  --max-width-testimonial-item: 28.571em;
  --padding-article-default: 0 4%;
}

body {
    font-family: var(--default-font);
    color: var(--primary-color);
    font-size: 1em;
    background-color: var(--secondary-color);
    padding: 0;
    margin: 0;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  margin: 0;
  margin-bottom: var(--spacing-medium);
  padding: var(--padding-btn);
  background: none;
}

h3 {
  margin-bottom: 0.5em;
  font-size: 1.2em;
  line-height: 1.4;
  background: none;
  color: white;
}

h4 {
  margin-bottom: 0.5em;
  font-size: 1em;
  line-height: 1.5;
}

p {
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 1.8;
}

img {
  width: 100%;
  min-height: fit-content;
  opacity: 100%;
}

hr {
  max-width: var(--max-width-hr);
  height: 1px;
  background-color: #ffffff;
  border: none;
  opacity: 50%;
  display: block;
}

/* Links */
a {
  color: var(--primary-color);
  text-decoration: none;
}

/* Lists */

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
}

li {
  line-height: 1.8;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-small);
  max-width: 85vw;
}

/* Layout Styles */
.header {
  position: relative; /* Needed for the pseudo-element positioning */
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(assets/home_buyers/backyard-suite-exterior-1.png);
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: darken;
}

.logo {
  width: fit-content;
  margin-bottom: var(--spacing-medium);
}

.logo img {
  max-width: 200px;
  width: fit-content;
}

.header .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding: var(--padding-section);
  gap: var(--gap-large);
  min-height: 100vh;
  padding-top: 25em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: var(--gap-small);
}

nav {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  flex: 0;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 85vw;
}

article {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  align-items: center;
}

figcaption {
  text-align: center;
  padding: var(--padding-testimonial-border);
}

footer {
  background-color: white;
  color: black;
}

/* Animations */
@keyframes kenburns {
  0% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes kenburns-zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2); /* Zoom in by 20% */
  }
}

a.nav-link {
  background-color: #ffffff61;
  padding: var(--padding-btn);
  width: 85vw;
  text-align: center;
}

.hero {
  background: white;
  color: black;
}

.hero .content {
  position: relative;
  z-index: 2;
}

.icon {
  width: fit-content;
  max-height: 70px;
}

.features {
  /* border-bottom: 1px solid #ffffff8a;
  border-top: 1px solid #ffffff8a; */
}

.transform-section-bg {
  padding: var(--padding-section);
  position: relative;
}

.transform-section-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); /* 28% dark mask */
  z-index: -1;
  background-image: url(assets/home/man_woman_laughing.jpg);
  background-size: cover;
  background-position: center;
  /* background-blend-mode: darken; */
}

.transform-section-bg article {
  position: relative;
  z-index: 2;
}

.sustainable .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: var(--gap-medium);
}

.testimonial img {
  width: 85%;
  max-width: 50px;
  padding-bottom: var(--spacing-medium);
}

.testimonials .border {
  border: 1px solid white;
  margin: var(--spacing-small);
  padding: var(--spacing-small);
}

.testimonials .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.sustainable {
  padding: var(--padding-section);
  position: relative;
}

.sustainable::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 28% dark mask */
  z-index: -1;
  background-image: url("assets/backyard-suite-exterior.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

section.join-network {
  position: relative;
  margin-bottom: var(--gap-extra-large);
}

section.join-network::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); /* 28% dark mask */
  z-index: -1;
  background-image: url(assets/about/woman_leading_crowd.jpg);
  background-size: cover;
  background-position: center;
  /* background-blend-mode: darken; */
}

.selfie {
  padding: var(--padding-section);
  position: relative;
}

.selfie::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); /* 50% dark mask */
  z-index: -1;
  background-image: url(assets/about/woman_leading_crowd.jpg);
  background-size: cover;
  background-position: center;
  /* background-blend-mode: darken; */
}

.cta-section {
  position: relative;
}

.cta-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); /* 50% dark mask */
  z-index: -1;
  background-image: url(assets/about/woman_leading_crowd.jpg);
  background-size: cover;
  background-position: center;
  /* background-blend-mode: darken; */
}

.hero-index {
  padding: var(--padding-section);
  position: relative;
}

.hero-index::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.1); /* 50% dark mask */
  z-index: -1;
  background-image: url(assets/about/woman_leading_crowd.jpg);
  background-size: cover;
  background-position: center;
  /* background-blend-mode: darken; */
}

section.join-network article {
  position: relative;
  z-index: 2;
}

.section {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

article {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  align-items: center;
}

h1, h2, h3 {
  margin: 0;
}

button.btn {
  background: red;
  color: white;
  width: fit-content;
  padding: var(--padding-btn);
  border: none;
}

button.register-button {
  background: red;
  color: white;
  padding: var(--padding-btn);
}

.hero-content.about {
  text-align: center;
  flex-direction: column;
  padding: var(--gap-extra-large) 0;
}

article.content {
  margin: 0 auto;
  padding: var(--spacing-extra-large) 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* min-height: 50vh; */
}

.hero .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: var(--gap-extra-large);
}

.exclusive-network-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: var(--gap-medium);
}

img.logo {
  max-width: 200px;
}

.max-width p {
  /* max-width: 75%; */
  margin: 0 auto;
}

.list {
  align-items: center;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-height: auto;
}

footer .logo img {
  max-width: 200px;
}

footer .logo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.short.hr {
  border: 1px black solid;
  display: block;
  max-width: 300px;
  /* opacity: 50%; */
  background: black;
  margin: 0;
  padding: 0;
  width: 300px;
}

.image-content.flip {
  order: 0;
}

.card {
  padding: 0;
  gap: var(--gap-medium);
  margin: var(--spacing-large) 0;
}

.text-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: var(--gap-medium);
}

.image-content {
  width: 100vw;
  position: relative;
}

.image-content-flip {
  position: relative;
}

.card .image-content h2.display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.card .image-content-flip h2.mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: 0;
}

h2.no-background {
  background: none;
}

.card .image-content h2.mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: none;
}

h2.desktop {
  display: none;
}

h2.desktop {
  display: block;
  width: fit-content;
  background: none;
}

section.join {
  background-image: url(assets/about/brain.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote-container {
  min-height: fit-content;
}

.quote h3 {
  line-height: 1.8;
}

footer .container {
  min-height: auto;
}

.cta {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: var(--gap-medium);
  min-height: 50vh;
}

.container-cards .content {
  padding: 0;
}

.container-cards {
  margin: var(--spacing-extra-large) 0;
}

.become-an-expert {
  background-image: url(assets/about/woman_leading_crowd.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.enroll {
  background-image: url(assets/about/woman_leading_crowd.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.laptop {
  background-image: url(assets/about/woman_leading_crowd.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.hero.about-alpha {
  background-image: url(assets/about/woman_leading_crowd.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

section.who-we-do-it-for {
  padding-top: 0;
}

.hero article.content {
}

.about-alpha h3 {
  color: black;
}

section.dedicated {
  background: white;
  color: black;
}

section.dedicated h3 {
  color: black;
}

.join {
  background-image: url(assets/about/brain.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 91vh;
}

.section.predictable {
  position: relative;
}

.section.predictable::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  background-image: url(assets/wine-at-home.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

.predictable .content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: var(--gap-large);
}

.predictable .content img {
  opacity: 60%;
  padding-top: var(--spacing-extra-large);
}

.header .logo::before {
  display: none;
}

.ready {
  padding: var(--padding-section);
  position: relative;
}

.ready::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(assets/happy-couple-in-new-home.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.4);
}

.content.ready {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: var(--gap-extra-large);
  padding: 0;
}

.header.logo {
  margin-bottom: 5em;
}

.content.sustainable::before {
  display: none;
}

.content.ready::before {
  display: none;
}

/* Media Queries */
@media only screen and (max-width: 425px) {
  .header .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding: var(--padding-section);
    gap: 0;
    min-height: 100vh;
    padding-top: 10em;
  }
}

@media only screen and (min-width: 768px) {
  .hero .content {
    display: flex;
    max-width: none;
    flex-direction: column;
    width: 100%;
    max-width: none;
    /* min-height: 66vh; */
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-small);
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  .header .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-top: 10em;
    gap: 5em;
    min-height: 100vh;
  }

  .sustainable .content::before {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  article {
    flex-direction: column;
    gap: var(--gap-medium);
  }

  .text-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-small);
    padding: 0;
    margin: 0 auto;
    max-width: 50%;
  }

  article {
    flex-direction: row;
    gap: var(--gap-medium);
  }

  li.card {
    flex: 1 1 40%;
    flex-direction: column;
    gap: var(--gap-medium);
  }

  .card {
    flex-direction: row;
    gap: var(--gap-medium);
    flex: 1 1 40%;
    align-items: flex-start;
  }

  nav {
    display: flex;
    align-items: center;
    padding: 0 0 5px;
    margin: 0;
    flex: 0;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 85vw;
    min-height: auto;
    padding-bottom: 5px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
    width: max-content;
    gap: var(--gap-large);
    margin-bottom: 3px;
    flex-wrap: wrap;
  }

.header .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-end;
    gap: 5em;
    min-height: fit-content;
    margin: 0 auto;
    padding: var(--spacing-small) 0;
    width: 95%;
}

  .header::before {
    background: none;
    display: none;
  }

  .hero {
    position: relative;
    background: none;
    color: white;
    padding: 0;
    margin: 0;
    min-height: 90vh;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(assets/happy-couple-in-new-home.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
  }

  a.nav-link {
    background-color: transparent;
    padding: var(--padding-btn);
    /* margin: var(--spacing-small) 0; */
    width: fit-content;
    text-align: center;
    margin: 0;
    padding: 0;
    gap: 0;
  }

.hero .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap-large);
    height: 90vh;
}

  .image-content.flip {
    order: 1;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }

  .card-image {
    max-width: 50%;
  }

  .card.flip .card-image {
    order: 1;
  }

.list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-large);
}

  .features .container {
    min-height: auto;
  }

  .max-width {
    max-width: 75%;
  }

  .container {
    max-width: 95%;
    margin: 0 auto;
    /* min-height: 70vh; */
  }

  .hero-index {
    height: 95vh;
  }

  .card-text {
    padding: var(--spacing-small);
  }

  .card p {
    flex-grow: 1;
  }

  .sustainable .content::before {
    display: none;
  }

  .content.ready::before {
    display: none;
  }

  .header .logo {
  margin-bottom: 0em;
}

}

@media only screen and (min-width: 1280px) {
  .wrapper {
    display: flex;
  }

  .hero .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
    margin: 0;
  }


ul.card-list {
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-large);
    align-items: flex-start;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-extra-large);
  }

  .hero .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
    margin: 0;
  }



}

@media only screen and (min-width: 1440px) {
  .hero .content {
    display: flex;
    justify-content: center;
    /* min-height: 88vh; */
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }

  .list {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-large);
  }

  .card {
    flex: 1;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  .testimonials .content {
    justify-content: center;
    gap: var(--gap-large);
    max-width: var(--max-width-testimonial-content);
  }

  .testimonials .border {
    flex: 1;
    max-width: none;
  }

  .section.index {
    /* min-height: 60vh; */
  }

  li.card {
    flex: 1 1 40%;
  }
}
